<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/projects">Projects</button>
    <button color="primary" mat-button routerLink="/blog">blog</button>
  </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="Primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <router-outlet></router-outlet>
                <span>PhaseMatrixMedia</span>
                  <span class=spacer></span>
                  <mat-icon>desktop_windows</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</mat-drawer-container>
